@import '@variables';
@import '@mixins';
@import 'components/heading/heading.scss';
@import 'components/text-field/text-field.scss';
@import 'components/button/button.scss';

.login-card {
  @include card;

  &__title {
    @include card-title;
  }

  &__fields {
    margin-top: 20px;
  }

  &__password {
    margin-top: 10px;
  }

  &__button {
    margin-top: 20px;
  }

  &__question {
    @include question;

    margin-top: 29px;
  }
}
