@import '@variables';
@import '@mixins';
@import 'components/heading/heading.scss';
@import 'components/room-number/room-number.scss';
@import 'components/room-price/room-price.scss';
@import 'components/dropdown/dropdown.scss';
@import 'components/date-dropdown/date-dropdown.scss';
@import 'components/price-calc/price-calc.scss';
@import 'components/button/button.scss';

.booking-card {
  @include card;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__date-dropdown {
    margin-top: 22px;
  }

  &__dropdown {
    margin-top: 20px;
  }

  &__calculation {
    margin-top: 19px;
  }

  &__button {
    margin-top: 20px;
  }
}
