@import '@variables';
@import '@mixins';
@import 'components/heading/heading.scss';
@import 'components/text-field/text-field.scss';

.subscribe {
  width: 100%;
  padding-top: 4px;
  font-family: $mainFont;

  &__text {
    @include font-body;

    margin: 13px 0 23px 0;
  }
}
