@import '@variables';
@import 'styles/styles.scss';
@import 'components/room-search-card/room-search-card.scss';
@import 'components/registration-card/registration-card.scss';
@import 'components/login-card/login-card.scss';
@import 'components/booking-card/booking-card.scss';
@import 'components/date-dropdown/date-dropdown.scss';
@import 'components/room-review-widget/room-review-widget.scss';
@import 'components/ui-kit-header/ui-kit-header.scss';
@import 'components/ui-kit-footer/ui-kit-footer.scss';

.cards-page {
  display: flex;
  min-height: 100%;
  background: $uiKitPagesBackground;

  &__column {
    & > :not(:first-child) {
      margin-top: 40px;
    }
    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  &__container {
    min-width: 1160px;
    max-width: 1160px;
    margin: 12px auto;
  }

  &__content {
    display: flex;
  }

  &__footer {
    flex-shrink: 0;
  }
}
