@import '@variables';
@import 'styles/styles.scss';
@import 'components/header/header.scss';
@import 'components/footer/footer.scss';
@import 'components/ui-kit-header/ui-kit-header.scss';
@import 'components/ui-kit-footer/ui-kit-footer.scss';

.headers-footers {
  background: $uiKitPagesBackground;

  &__header-sign-in {
    margin-bottom: 40px;
  }

  &__header-logged {
    margin-bottom: 40px;
  }

  &__footer {
    margin-bottom: 40px;
  }
}
