@import 'styles/styles.scss';
@import 'components/colors/colors.scss';
@import 'components/type/type.scss';
@import 'components/ui-kit-header/ui-kit-header.scss';
@import 'components/ui-kit-footer/ui-kit-footer.scss';

.colors-type-page {
  &__container {
    display: flex;
    box-sizing: content-box;
    max-width: 1160px;
    margin: 0 auto 145px;
    padding-top: 5px;
  }
}
